modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_database:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 23831
externalPort = 3000

[userenv]

[userenv.shared]
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "SinoGlobal@2024"
FROM_EMAIL = "support@dynamicoffshoredrilling.com"
ADMIN_EMAIL = "support@dynamicoffshoredrilling.com"

[nix]
channel = "stable-25_05"
